@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --cor01: #1B1732;
    --cor02: #2a2069;
    --cor03: #2D15B1;
    --cor04: #846EFF;
    --cor05: #F8F7FF;
    --fonte-padrao: "Urbanist", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte-padrao);
}

body{
    background-color: var(--cor05);

}

header{
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.301);
}

header > div{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.logo{
    height: 70px;
}



#burger{
    border-radius: 50%;
    padding: 7px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.295);
}
#burger:hover{
    background-color: var(--cor05);
}

header > menu{
    display: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

header > menu > a{
    color: var(--cor03);
    padding: 10px;
    text-decoration: none;
}




div#conteudo{
    position: relative;
    height: 95vh;
    overflow: hidden;
}

iframe{
    position: absolute;
    margin: auto;
    top: 3%;
    left: 2.5%;
    width: 95vw;
    height: 90%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.247);
}

footer{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    padding: 10px;
    font-family: var(--fonte-padrao);
    font-size: 14px;
}

footer > p{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    margin: auto;
    gap: 5px;
}

footer > p > a{
    text-decoration: none;
    color: white;
}


#logo-inst{
    width: 15px;
}