@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --cor01: #1B1732;
    --cor02: #2a2069;
    --cor03: #2D15B1;
    --cor04: #846EFF;
    --cor05: #F8F7FF;
    --fonte-padrao: "Urbanist", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte-padrao);
}

body{
    background-color: rgb(252, 252, 252);
    width: 99.1vw;
    height: 100vh;
}

header{
    background-color: white;
    
    
}

header > div{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 25vw;
}
#voltar{
    display: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
#voltar > img {
    width: 30px;
}

.logo{
    width: 40px;
    padding: 20px;
}


main{
    margin: auto;
    width: 90%;
    color: #0ce70c;
}


#conteudo{
    display: grid;
    grid-template-columns: 1fr;
}

#conteudo > div{
    color: rgb(0, 0, 0);
    background-color: white;
    margin: 10px auto;
    width: 90%;
    padding: 20px;
    max-width: 600px;
    border-radius: 30px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
#conteudo > div > button{
    background-color: #38d7ff;
    color: white;
    padding: 15px;
    font-size: 20px;
    margin: 15px auto;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
#conteudo > div > button:hover{
    background-color: #9fecff;
}

/* TODO: Fazer um menu para as materias com icones no header que de para acessar depois de ter entrado em uma matéria. Colocar mais de uma coluna no caderno */

#btnUp{
    display: none;
    cursor: pointer;
    width: 60px;
    height: 60px;
    position: fixed;
    left: 75vw;
    top: 85vh;
    border-radius: 50%;
    border: none;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
#btnUp:focus{
    background-color: rgb(211, 211, 211);
}
#btnUp img{
    display: block;
    margin: auto;
    width: 40px;
}

main{
    display: flex;
    flex-direction: column;
}


iframe {
    display: none;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.219);
    margin: 21.8px 0px;
    width: 100%;
    height: 85vh;
    border-radius: 15px;
}



footer{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    padding: 10px;
    font-family: var(--fonte-padrao);
    font-size: 14px;
}

footer > p{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    margin: auto;
    gap: 5px;
}

footer > p > a{
    text-decoration: none;
    color: white;
}


#logo-inst{
    width: 15px;
}