@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --fonte-padrao: "Urbanist", sans-serif;
}

*{
    font-family: var(--fonte-padrao);
    text-align: justify;
}

body{
    padding: 5px;
    background-color: white;
}

p{
    text-indent: 10px;
}

.data{
    text-align: right;
}
.data::before{
    content: 'Data: ';
}
.cab{
    display: flex;
}
.cab > div{
    width: 50%;
}
.cred::before{
    content:  'Material utilizado:' ;
}

div.video{
    margin: 0px -13px 30px -20px;
    padding: 20px;
    padding-bottom: 56.6%;
    position: relative;
}

.video > iframe{
    position: absolute;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 90%;
}