@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@font-face {
    font-family: Khand;
    src: url(../fonts/Khand-Variable.ttf);
}

@font-face {
    font-family: GeneralSans;
    src: url(../fonts/GeneralSans-Variable.ttf);
}
:root{
    --fonte-padrao:"Quicksand", sans-serif;
    --fonte-titulos: Khand, Arial,sans-serif;
    --fonte-paragrafos: GeneralSans , Arial, sans-serif ;
}

*{
    padding: 1.3%;
    margin: 0px;
    font-family: var(--fonte-padrao);
    text-align: justify;
}

body{
    background-color: #ffffff;
}

h1, h2, h3 {
    font-family: var(--fonte-titulos);
    font-weight: 700;
    text-align: center;
}
span{
    margin-left: 20px;
    text-align: end;
}
p{
    font-family: var(--fonte-paragrafos);
    text-indent: 10px;
}
.pergunta {
    text-indent: 0;
    padding: 20px;
    font-weight: bolder;
}
.resposta{
    text-indent: 0;
    padding: 0px 30px;
    font-weight: 600;
}

.slide{
    text-align: left;
}

.dia_aula{
    border-bottom: 1px solid black;
}
.data{
    text-align: left; 
}
.data>span{
    font-weight: bolder;
    color: red;
}
.cabecalho{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
}
.cabecalho li{
    text-align: initial;
}

img{
    display: block;
    margin: auto;
    width: 80%;
}

.cred{
    color: blue;
}
.cred::before{
    content:  'Material utilizado:' ;
} 



div.video{
    margin: 0px -13px 30px -20px;
    padding: 20px;
    padding-bottom: 56.6%;
    position: relative;
}

.video > iframe{
    position: absolute;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 90%;
}

/* Typical Device Breakpoints
-------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992 até 1200px
Grandes telas: acima de 1200px
 */
