@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root{
    --fonte-padrao:"Quicksand", sans-serif;
}

*{
    font-family: var(--fonte-padrao);
    text-align: justify;
}

body{
    padding: 5px;
    background-color: #ffffff;
}

p{
    text-indent: 10px;
}

.data{
    text-align: right;
}
.data::before{
    content: 'Data: ';
}
.cab{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
}
.cab li{
    text-align: initial;
}

.cred{
    color: blue;
}
.cred::before{
    content:  'Material utilizado:' ;
}

div.video{
    margin: 0px -13px 30px -20px;
    padding: 20px;
    padding-bottom: 56.6%;
    position: relative;
}

.video > iframe{
    position: absolute;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 90%;
}

.ncop{
    background-color: gray;
    color: white;
    text-align: center;
    width: 300px;
    /* Não é necessário copiar os enunciados'; */
}

/* Typical Device Breakpoints
-------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992 até 1200px
Grandes telas: acima de 1200px
 */
