@charset "UTF-8";

/* Typical Device Breakpoints
-------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992 até 1200px
Grandes telas: acima de 1200px
 */





@media screen and (max-width: 767px){

}

@media screen and (min-width: 768px) and (max-width: 991px){
    #mascote{
        width: 60%;
    }
}


@media screen and (min-width: 992px) and (max-width: 1199px){
    #mascote{
        width: 70%;
    } 
}

@media screen and (min-width: 1200px) {
    #mascote{
        width: 80%;
    }
    section{
        flex-direction:row-reverse;
    }
    main{
        height: 70vh;
    }
    .divmetade > div > h2{
        font-size: 3.2em;
    }    

}




