@charset "UTF-8";

/* Typical Device Breakpoints
-------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992 até 1200px
Grandes telas: acima de 1200px
 */

@media screen and (max-width: 600px){
    #conteudo-principal > div > img{
        width: 250px;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px){
    #conteudo-principal > div > img{
        width: 350px;
    }
}


@media screen and (min-width: 768px) and (max-width: 992px){
    #conteudo-principal{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
    }
    #conteudo-principal > div > img{
        width: 400px;
    }
    #conteudo-secundario > p{
        width: 50vw;
    }

}

@media screen and (min-width: 992px) and (max-width: 1200px){
    body{
        background-image: url(../imagens/fundo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #conteudo-principal{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
        height: 48.2vh;
    }
    #conteudo-principal > div > img{
        width: 450px;
    }
    #conteudo-secundario > p{
        width: 50vw;
    }

}

@media screen and (min-width: 1200px){
    body{
        background-image: url(../imagens/fundo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #conteudo-principal{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: center;
    }
    #conteudo-principal > div > img{
        width: 450px;
    }
    #conteudo-secundario > p{
        font-size: 20px;
        width: 50vw;
    }
}