@charset "UTF-8";

/* Typical Device Breakpoints
-------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992 até 1200px
Grandes telas: acima de 1200px
 */

/* @media screen and (max-width: 600px){
    main{
        width: 90vw;
    }
}
@media screen and (min-width: 600px) and (max-width: 768px){
    main{
        width: 80vw;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px){
    main{
        width: 70vw;
    }
} */

@media screen and (min-width: 768px) and (max-width: 991px){
    main{
        width: 80vw;
    }
    #conteudo {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #conteudo > div{
        width: 80%;
        height: 70%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px){
    main{
        width: 70vw;
    }
    #conteudo {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #conteudo > div{
        width: 85%;
    }
}

@media screen and (min-width: 1200px) {
    main{
        width: 60vw;
    }
    #conteudo {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #conteudo > div{
        width: 80%;
    }
}
