@charset "UTF-8";

@font-face {
    font-family: 'Sarala';
    src: url('../fontes/Sarala-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Bayon';
    src: url('../fontes/Bayon-Regular.ttf');
}



:root{
    --cor01: #2B44E3;

  --fonte-padrao: 'Sarala', Arial, sans-serif;
  --fonte-titulo: 'Bayon', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}


/* Cabeçalho */
#logo{
    width: 80px;
    height: 80px;
}
.cabecalho{
    display: flex;
    gap: 40vw;
    justify-content: space-around;
    background-color: white;
}
.menu {
    display: flex;
    align-items: center;
}
.menu-item{
    margin: 10px;
    padding: 10px ;
    font-size: 16px;
    text-decoration: none;
    color: black;
    font-family: var(--fonte-padrao);
}
.menu-item:hover{
    background-color: lightgray;
    transition: .5s;
    border-radius: 10px;
}

/* Conteudo 1 */
.conteudo{
    background-image: url('../imagens/9760493.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: right top;
}


.conteudo-principal{ 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}

.conteudo-escrito{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    background-color: rgba(87, 87, 87, 0.13);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.219);
 
}

.princ-titulo{
    font-family: var(--fonte-titulo);
    font-size: 32px;
    font-weight: normal;
    text-align: center;
    color: var(--cor01);
}

.princ-escrito{
    font-family: var(--fonte-padrao);
    font-size: 16px;
    text-align: center;
}
.princ-botao{
    border: 0;
    width: 100px;
    height: 45px;
    border-radius: 10px;
    font-size: 16px;
    background-color: #8952FF;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.397);
}
.princ-botao > a{
    text-decoration: none;
    color: white;
}
.princ-botao:hover{
    background-color: blueviolet;
    transition: .5s;
}
.img{
    display: flex;

}
.princ-img{
    margin-top: 30px;
    width: 100%;
    height: 400px;
}

/* Conteudo 2 */


.conteudo-secundario{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}
.conteudo-secun-escrito{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}
.secun-titulo{
    display: flex;
    border-top: 1px solid black;
    padding-top: 40px;
    margin-top: 50px;
    font-family: var(--fonte-titulo);
    font-weight: normal ;
    font-variant-caps:small-caps;
    font-size: 2em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.253);
    color: var(--cor01);

}
.secun-escrito{
    font-family: var(--fonte-padrao);
    font-weight: normal;
    font-size: 15px;
    max-width: 600px;
}

#credito{
    font-family: var(--fonte-padrao);
    text-align: end;
    font-size: 12px;
}
#credito a{
    text-decoration: none;

}

/* Rodapé */
.rodape{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    padding: 10px;
    font-family: var(--fonte-padrao);
    font-size: 14px;
}
.rodape-escrito{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    margin: auto;
    gap: 5px;
}
.link{
    text-decoration: none;
    color: white;
}
