@charset "UTF-8";

/* Typical Device Breakpoints
-------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992 até 1200px
Grandes telas: acima de 1200px
 */

@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


:root {

    --cor01: #00EDFA;
    --cor02: #004FFA;
    --cor03: #009EFA;
    --cor04: #00FAB3;
    --cor05: #0000FA;


    --fonte-padrao: "Urbanist", sans-serif;
}

@keyframes introImagem {
    0% {
        transform: translate(0%, 7%);
    }
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: var(--fonte-padrao);
}

h1 {
    font-size: 3em;
    color: white;
}



body,
html{
    width: 100%;
    height: 100%;
    background-color: #3EA6FA;
}



/*! Cabeçalho */

header {
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0px;
}

header>a>img {
    width: 35px;
}

header>menu>a {
    color: white;
    text-decoration: none;
    padding: 15px;
}

header>menu>a:hover {
    transition: .3s;
    color: rgb(255, 255, 255);
    background-color: var(--cor02);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.247);
    padding: 15px;
    border-radius: 19px;
}

/* ! Corpo */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

section {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    line-height: 70px;
    margin-top: 10px;
}

section .conteiner_imagem>img {
    width: 70%;
    animation-name: introImagem;
    animation-duration: .7s;
}

section .filho {
    padding: 10px;
    border-radius: 50px;
}

section .filho > h1 > span{
    background-image: linear-gradient(to bottom, #7F3CF1 , #4b00fa);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white;
    font-weight: bolder;
}


section .filho p {

    font-size: 1.5em;
    color: white;
}

section .filho>a {
    padding: 20px;
    background-color: var(--cor02);
    color: white;
    border-radius: 20px;
    text-decoration: none;
}

section .filho>a:hover{
    background-color: #0000FA;
    transition: .3s;
}


div.conteiner_redes {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;

}

div.conteiner_redes>a> img {
    width: 30px;
    margin: 20px 30px 0px ;
    transition: .3s;   
}

div.conteiner_redes>a>img:hover,
svg:hover {
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.315)) invert(100%);
    transform: translate(-3px, -3px);
}


/* TODO: fazer com que o rodapé fique com os ícone das redes sociais */

/* Rodapé */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px;
    font-size: 16px;
}

footer p>a {


    text-decoration: none;
    color: white;
}

footer p>a:hover {
    text-decoration: underline;
}