@charset "UTF-8";

/* Typical Device Breakpoints
-------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992 até 1200px
Grandes telas: acima de 1200px
 */

@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


:root{

    --cor01: #00EDFA;
    --cor02: #004FFA;
    --cor03: #009EFA;
    --cor04: #00FAB3;
    --cor05: #0000FA;


    --fonte-padrao:  "Urbanist", sans-serif;
}

@keyframes introImagem {
    0%{
        transform: translate(0%, 7%);
    }
}


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: var(--fonte-padrao);
}

body{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(55deg, #0F006F ,#00A0FA);
}

/*! Cabeçalho */

header{
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: space-around;
    padding: 25px 0px;
}

header > a > img {
    width: 50px;
}

header > menu > a{
    color: white;
    text-decoration: none;
    padding: 15px;
}

header > menu > a:hover{
    transition: .3s;
    color: rgb(255, 255, 255);
    background-color: var(--cor02);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.247);
    padding: 15px;
    border-radius: 19px;
}



/*!  Corpo */

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 82.7%;
    margin: 20px 0px;
}


#mascote{
    display: block;
    margin: auto;
    width: 290px;
    filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.35));
}

#filho{
    line-height: 40px;
    max-width: 500px;
    max-height: 350px;
    margin: 10px 20px;
    background-color: rgba(255, 255, 255, 0.158);
    border-radius: 35px;
    padding: 35px;
    text-align: center;
    color: white;
    font-size: 18px;
}

#filho p{
    padding: 20px 0px;
}

#filho > a {
    display: block;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.507);
    text-decoration: none;
    background-color: #00A0FA;
    margin: auto;
    text-align: center;
    width: 100px;
    color: white;
    padding: 15px;
    font-size: 20px;
    border-radius: 29px;
}

#filho > a:hover {
    background-color: var(--cor02);
    transition: .2s;
}


/* Rodapé */

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px;
    background-color: #000227;
}

footer p > a {
    
    text-decoration: none;
    color: white;
}

footer p > a:hover{
    text-decoration: underline;
}