@charset "UTF-8";

/* Typical Device Breakpoints
-------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992 até 1200px
Grandes telas: acima de 1200px
 */

@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --cor01: #1B1732;
    --cor02: #2A2069;
    --cor03: #2D15B1;
    --cor04: #846EFF;
    --cor05: #F8F7FF;

--cortest1: #350C40; 
--cortest2: #200726; 
--cortest3: #4A1259; 
--cortest4: #622773; 
--cortest5: #A192A6; 




    --fonte-padrao:  "Urbanist", sans-serif;
}

@keyframes introImagem {
    0%{
        transform: translate(0%, 7%);
    }
}




*{
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte-padrao);
}



/* Cabeçalho */

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 25vw;
    padding: 30px;
}
.logo{
    width: 50px;
}


header > menu > a{
        color: var(--cor05);
        text-decoration: none;
}

header > menu > a:hover{
    border-bottom: 1px solid rgb(0, 2, 150);
    transition: 1s;

}

/* Corpo */

body{
    background-image: linear-gradient(55deg, #0F006F ,#00A0FA);
}


#conteudo-principal{
    display: block;
    padding: 0px 10px;
    text-align: center;
    margin: 100px auto 140px;
    color: white;
    line-height: 45px;
    height: 62.7vh;
}
#mascote{
    width: 290px;
    animation-name: introImagem;
    animation-duration: .8s;
    filter: drop-shadow(1px 1px 10px rgba(255, 255, 255, 0.384));
}
#conteudo-principal > div > h1{
    font-size: 2em;
}
#conteudo-principal > div > a{
    text-decoration: none;
    background-color: #00A0FA;
    color: white;
    padding: 15px;
    font-size: 20px;
    border-radius: 25px;
}


#conteudo-principal > div > p{
    font-size: 20px;
    padding-bottom: 20px;
}

#conteudo-principal > div > a:hover{
    background-color: #32b4ff;
}

#filho{
    background-color: rgba(255, 255, 255, 0.192);
    padding: 35px;
    border-radius: 20px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.247);
}



footer{
    display: flex;
    flex-wrap: wrap;
    background-color: #000227;
    color: white;
    padding: 10px;
    font-family: var(--fonte-padrao);

}

footer > p{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    margin: auto;
    gap: 5px;
}

footer > p > a{
    text-decoration: none;
    color: white;
}

#logo-inst{
    width: 15px;
}